body {
    background:url("../images/timg.jpg") ;
}
.main {
    width: 1001px;
    height: 921px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}
img{
    width: 500px;
    height: 700px;
}

