<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href=".././static/css/nonja.css">
    <link rel="stylesheet" type="text/css" href=".././static/css/reset.css">
    <script type="text/javascript" src=".././static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src=".././static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src=".././static/js/nonja.js"></script>
    <title>Nonja</title>
    
</head>
<body>
    <div class="main">
        <h1>大家好我是冯佳楠，我最棒</h1>
        <img src=".././static/images/001.jpg" alt="feng">
        <span>既然你看了我的照片那你说我好不好看</span>
        <div>
            <button id="buttonTrue" type="button" onclick="alert('就喜欢说大实话的你')">好看</button>
            <button id="buttonFlase" type="button" onclick="alert('你烦死了，长的好看就能说瞎话吗！')">不好看</button>
        </div>
        
    </div>

</body>
</html>