<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href=".././static/css/nonja.css">
    <link rel="stylesheet" type="text/css" href=".././static/css/reset.css">
    <script type="text/javascript" src=".././static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src=".././static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src=".././static/js/nonja.js"></script>
    <title>漂漂猪</title>

</head>
<body>
    <div class="main">
        <h1>大家好我是漂漂，我棒不棒</h1>
        <img src=".././static/images/piaopiao.jpg" alt="piaopiao">
        <span>啊咯，吃午饭了没</span>
        <div>
            <button id="buttonTrue" type="button" onclick="alert('我看你是吃了娃娃的屎咯')">吃了</button>
            <button id="buttonFlase" type="button" onclick="alert('没吃还不赶紧吃去！')">没吃</button>
        </div>

    </div>

</body>
</html>